body {
	min-width: 500px;
}

h3 {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	width: 96px;
	height: 72px;
	margin: 10px;
	text-align: center;
}

#devices {
	float: left;
	width: 40%;
	outline: 2px solid blue;
	height: 500px;
	overflow: auto;
	min-width: 200px;
}
	#devices ul {
		min-height: 100px;
	}
	
	#devices p {
		text-align: center;
	}
	
	#devices p button {
		font-size: 13px;
	}

#middle {
	float: left;
	width: 20%;
	height: 500px;
}
	#middle p {
		text-align: center;
	}
	
	#middle p button {
		font-size: 13px;
	}	
#gearbag {
	float: left;
	width: 40%;
	outline: 2px solid red;
	height: 500px;
	overflow: auto;
	min-width: 200px;
}

	#gearbag ul {
		height: 80%;
	}
