html, body, ul {
	height: 100%;
}

body {
	min-width: 700px;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: sans-serif;
	font-weight: normal;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
}

h1, h3, li, p {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}

li {
	display: inline-block;
	width: 96px;
	height: 72px;
	margin: 10px;
}
	li > img {
		cursor: move;
	}

a {
	font-size: 16px;
	color: gray;
	cursor: pointer;
}

a:hover {
	color: rgb(88, 88, 96);
	font-size: 17px;
}

.left-column {
	float: left;
	width: 60%;
}

.right-column {
	float: left;
	width: 30%;
}

.spacer {
	float: left;
	width: 10%;
	height: 1px;
}


#header {
	height: 25%;
}

#title {
	width: 100%;
}

#content {
	height: 75%;
}

#devices, #gearbag {
	height: 100%;
}